Install pandas and requests libraries

In [1]:
!python -m pip install pandas

Requirement already satisfied: pandas in c:\python27\lib\site-packages (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in c:\python27\lib\site-packages (from pandas) (1.16.6)
Requirement already satisfied: pytz>=2011k in c:\python27\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\python27\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\adrian.oprea\appdata\roaming\python\python27\site-packages (from python-dateutil>=2.5.0->pandas) (1.14.0)

DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. A future version of pip will drop support for Python 2.7. More details about Python 2 support in pip, can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support

In [2]:
import pandas as pd

Download the Data and load them into dataframes

In [3]:
df_history = pd.read_csv('https://data.melbourne.vic.gov.au/api/views/b2ak-trbp/rows.csv?accessType=DOWNLOAD')

In [4]:
df_sensor = pd.read_csv('https://data.melbourne.vic.gov.au/api/views/h57g-5234/rows.csv?accessType=DOWNLOAD')

Change columns to lower (this is to address join condition latter)

In [5]:
df_history_col = map(str.lower, df_history.columns)

In [6]:
df_history.columns = df_history_col

Review the column change

In [7]:
df_history.head(2)

,id,date_time,year,month,mdate,day,time,sensor_id,sensor_name,hourly_counts
0,2887628,11/01/2019 05:00:00 PM,2019,November,1,Friday,17,34,Flinders St-Spark La,300
1,2887629,11/01/2019 05:00:00 PM,2019,November,1,Friday,17,39,Alfred Place,604

Create new df from df_sensor and keep only column (sensor_id,sensor_description,sensor_name)

In [8]:
df_sens = df_sensor[['sensor_id','sensor_description','sensor_name']]

Create Daily Aggregation and get - Top 10 (most pedestrians) locations by day

In [9]:
agg_df_daily = df_history.groupby(['sensor_id','year','month','day']).hourly_counts.agg('sum').to_frame()

In [10]:
Top10ByDay = agg_df_daily.sort_values(by='hourly_counts', ascending=False).head(10)

Create Monthly Aggregation and get - Top 10 (most pedestrians) locations by month

In [11]:
agg_df_monthly = df_history.groupby(['sensor_id','year','month']).hourly_counts.agg('sum').to_frame()
Top10ByMonth = agg_df_monthly.sort_values(by='hourly_counts', ascending=False).head(10)

Join Sensor data with Top10 Aggregated data

In [12]:
my_Top10ByMonth = df_sens.merge(Top10ByMonth.reset_index(),on=['sensor_id'],how='right')
my_Top10ByDay = df_sens.merge(Top10ByDay.reset_index(),on=['sensor_id'],how='right')

View Final my_Top10ByMonth

In [13]:
my_Top10ByMonth

,sensor_id,sensor_description,sensor_name,year,month,hourly_counts
0,38,Flinders St-Swanston St (West),Swa11_T,2015,March,1966429
1,38,Flinders St-Swanston St (West),Swa11_T,2016,March,1951326
2,38,Flinders St-Swanston St (West),Swa11_T,2015,December,1931228
3,38,Flinders St-Swanston St (West),Swa11_T,2016,April,1900791
4,38,Flinders St-Swanston St (West),Swa11_T,2016,December,1857062
5,38,Flinders St-Swanston St (West),Swa11_T,2016,January,1844471
6,38,Flinders St-Swanston St (West),Swa11_T,2015,October,1820460
7,38,Flinders St-Swanston St (West),Swa11_T,2015,November,1818857
8,38,Flinders St-Swanston St (West),Swa11_T,2016,July,1811931
9,38,Flinders St-Swanston St (West),Swa11_T,2016,August,1805067

View Final my_Top10ByDay

In [14]:
my_Top10ByDay

,sensor_id,sensor_description,sensor_name,year,month,day,hourly_counts
0,38,Flinders St-Swanston St (West),Swa11_T,2016,April,Friday,363053
1,38,Flinders St-Swanston St (West),Swa11_T,2015,October,Friday,349517
2,38,Flinders St-Swanston St (West),Swa11_T,2015,July,Friday,348093
3,38,Flinders St-Swanston St (West),Swa11_T,2015,May,Friday,338228
4,38,Flinders St-Swanston St (West),Swa11_T,2016,December,Friday,336294
5,38,Flinders St-Swanston St (West),Swa11_T,2016,July,Friday,334818
6,38,Flinders St-Swanston St (West),Swa11_T,2016,September,Friday,334817
7,38,Flinders St-Swanston St (West),Swa11_T,2015,March,Sunday,326073
8,38,Flinders St-Swanston St (West),Swa11_T,2016,April,Saturday,325469
9,38,Flinders St-Swanston St (West),Swa11_T,2015,May,Saturday,324060